
.imagee{
    width: 60px;
    height: 40px;
}

/* .contentt{
    background-color: rgb(221, 236, 238);
} */
.firstPortionImage{
    width: 1100px;
    height: 450px;
}
h3{
    color: blue;
    margin-top: 200px;
}
.MainText{
    color: blue;
    width: 500px;
}